<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="UTF-8">
    <title>Creare Programare</title>
</head>
<body>
<h1>Creare Programare</h1>
<form method="post">
    {% csrf_token %}
    <label for="data">Data:</label><br>
    <input type="datetime-local" id="data" name="data"><br>
    <label for="permite_reprogramare">Permite Reprogramare:</label><br>
    <input type="checkbox" id="permite_reprogramare" name="permite_reprogramare"><br>
    <label for="descriere">Descriere:</label><br>
    <textarea id="descriere" name="descriere" rows="4" cols="50"></textarea><br>
    <input type="submit" value="Submit">
</form>
</body>
</html>